<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/modify.css">
    <title>CRUD</title>
</head>
<body>

      <% if (nombre) { %>
      <div class="container mt-4">
          
          <div class="card border-secondary">  
                <h1>Editar Registro</h1>
                <div class="card-body">
                    <form action="/update" method="POST">
                        <input id="idpersona" name="idpersona" value="<%= nombre.idpersona %>" hidden>
                        <div class="mb-3">
                          <label for="" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= nombre.nombre  %>">                        
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" tabindex="2" value="<%= nombre.apellidos %>">                        
                          </div>   
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="" class="form-label">Documento</label>
                                <input type="text" class="form-control" id="documento" name="documento" tabindex="3" value="<%= nombre.documento  %>">                        
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Correo</label>
                                <input type="text" class="form-control" id="email" name="email" tabindex="4" value="<%= nombre.email  %>">                        
                              </div>
                              <div class="mb-3">
                                <label for="user" class="form-label">Ficha</label>
                                <input type="text" class="form-control" id="ficha" name="ficha" tabindex="5" value="<%= nombre.ficha  %>">                        
                              </div>
                        </div>                                                              
                        <button type="submit" class="btn btn-primary" tabindex="6">Guardar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>     
        </div>
        <% } %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>